/* INICIO */
/* NAV */
.nav-barra{
  background-color:white;
  border: 0px solid white!important;
}
.img-barra{
  margin: 5px;
  width: 20px;
  border-radius: 100px;
}
.input-barra{
  margin: 7px;
  margin-top: 10px;
  width: 250px;
  height: 35px;
  border: 0px solid white;
  background-color: rgb(240, 242, 245);
  border-radius: 20px;
}
.input-barra:hover{
  border: 0px solid white!important;
  background-color: rgb(240, 242, 245);
  border-radius: 20px;
}
.link-barra{
  color: rgb(101, 103, 107)!important;
}
.link-barra:link{
  color: rgb(24, 119, 242)!important;
  /*border-bottom: 10px solid turquoise!important; */
}
.link-barra:hover{
  border: 0px solid white!important;
  background-color: rgb(240, 242, 245);
}
.fa-barra{
  font-size: 25px;
  margin-top: 5px;
  margin-left: 20px;
  margin-right: 20px;
  
  /*color: rgb(24, 119, 242); */ 
}

/* HOME IZQUIERDA*/
.img-barra-user{
  margin-left: 3px;
  margin-right: 6px;
  width: 40px!important;
  height: 40px!important;
  vertical-align: middle;
  border-radius: 100px;
  object-fit: cover;
}
.img-barra {
  width: 36px;
  margin-left: 3px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.elemento-uno {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
}
.td-contenido {
  font-weight: bold;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.fa-colors {
  margin-left: 3px;
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: rgb(189, 191, 194);
  font-size: 32px;
}
.fa-colors:hover {
  color: rgb(152, 159, 175);
}
.iluminar:hover {
  border-radius: 15px;
  -moz-border-radius: 20px;
  background-color: rgb(228, 230, 233);
  cursor: pointer;
}
.titulo-h6 {
  color: rgb(131, 133, 138);
}

.enlace-inicio {
  padding: 0px;
  margin-top: 0px !important;
  margin-left: 0px !important;
  color: rgb(119, 116, 116);
  font-size: 14px;
}
.enlace-inicio:hover {
    color: rgb(119, 116, 116);
    font-size: 14px;
}
/* #inicioIzquierda{
  height: 100%;
  max-width: 100%;
  overflow-y:scroll;
} */

/* HOME CENTRO*/
.div-estado{
    width: 107.5px;
    height: 190px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    position: relative;
}
.img-estado{
    border-radius: 10px;
    width: 100%;
    height:100%;
    object-fit: cover;
    position: relative;
}
.manejo-usuario{
  width: 47px;
  height: 47px;
  border-radius: 100px;
}
.div-estado2{
  background-color: rgb(255, 255, 255)!important;
  border:rgb(209, 208, 208) 1px solid;
  border-radius: 10px;
}
.texto-estado{
  position: absolute;
  top: 0px; 
  color: antiquewhite;
  background-color: rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 100%;
  padding-top: 135px;  
}
.input-estado{
  height: 46px;
  border-radius: 25px!important;
  margin-left: 10px!important;
  align-content: center;
  background-color: rgb(240, 242, 245);
  color:#6f7174;
  font-weight: 400;
  font-size: 18px;
  
}
.input-estado:hover{
  background-color: rgb(204, 206, 209);
}
.fa-video{
  color: rgb(218, 12, 12);
  font-size: 26px;
  vertical-align: middle;
}
.fa-images{
  color: rgb(26, 196, 26);
  font-size: 26px;
  vertical-align: middle;
}
.fa-smile-wink{
  color: rgb(211, 211, 3);
  font-size: 26px;
  vertical-align: middle;
}
.span-estado{
  position: static;
  font-weight: bold;
  font-size: 13px;
  color: rgb(128, 130, 133);
  margin-left: 7px;
  margin-right: 15px;
  vertical-align: middle;
}
.div-span-estado{
  padding: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5px;
  border-radius: 10px;
}
.div-span-estado:hover{
  background-color: rgb(240, 242, 245);;
}

.fa-plus-circle{
  color: rgb(197, 34, 116);
  vertical-align: middle;
  font-size: 20px;
}
.div-sala{
  margin-right: auto;
  vertical-align: middle;
}
.img-sala{
  border-radius: 100px;
  margin-top: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 40px;
  object-fit: cover;
  height: 40px;
}
.img-sala:hover{
  background-color: rgba(111, 113, 116, 0.192);
}
/*MURO*/
.img-muro{
  border-radius: 100px;
  width: 50px;
  object-fit: cover;
  height: 50px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.titulo-muro{
  margin-top: 5px;
  margin-right: 10px;
}
.fa-check-circle{
  color: rgb(26, 198, 221);
  margin-top: 7px;
  height: 16px!important;

}
.fa-check-circle:hover{
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.411);
  border-radius: 1px;
}
.subtitulo-muro{
  color: rgb(139, 143, 150);
  font-size: 13px;
}
.img-muro-ver{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}
.fa-muro{
  color: rgb(152, 156, 156);
  font-size: 20px;
}
.muro-accion{
  font-weight: 500;
  color: rgb(147, 153, 153);
  text-align: center;
  padding: 5px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 5px;
}
.muro-accion:hover{
  background-color: rgb(225, 224, 226)!important;
}
.img-publicidad{
  width: 150px;
  border-radius: 10px;
}
.div-publicidad{
  border-radius: 7px;
  padding: 10px;
}
.div-publicidad:hover{
  background-color: rgb(229, 226, 226);
}
/* HOME DERECHA*/
.fa-caret-down{
  padding-left: 8px!important; 
}
.fa-circle{
  color: green;
  margin-left: auto;
  font-size: x-small;
}
.chat-icon-top{
  color: rgb(147, 142, 153);
  margin-right: 5px;
  border-radius: 100px;
  width: 25px!important;
  height: 25px!important;
  font-size: 15px;
  padding: 5.5px;
}
.chat-icon-top:hover{
  background-color: rgb(214, 211, 216); 
}
.fa-plus-circle{
  color: rgb(147, 142, 153);
  margin-top: 4px;
}
.chat-crear{
  padding:15px;
  padding-left: 10px;
  margin:4px;
  border-radius: 7px;
  font-size:16px;
}

/*RESPONS*/
@media (min-width: 1200px) {
  
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  #estado4{
    display: none;
  }
  #inicioIzquierda {
    display: none;
}
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #inicioDerecha {
        display: none;
    }
    #inicioIzquierda {
      display: none;
  }
    #estado4{
      display: none;
    }
    .img-muro-ver{
      width: min-content;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
    }
    .inicioDerecha{
      margin-right: auto;
      margin-left: auto;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #inicioDerecha {
    display: none;
  }
  #inicioIzquierda {
    display: none;
  }
}
@media (max-width: 575.98px) {
  #inicioDerecha {
    display: none;
  }
  #inicioIzquierda {
    display: none;
  }
  .div-estado2{
    margin: 0px!important;
  }
  #estados{
    display: none;
  }
  .div-estado2{
    margin-top: 10px!important;
  }

}
